<a href="/students/new">+ add students</a><br>
<% if @students.length > 0 %>
  <div>&nbsp;</div>
  <div>
    <form action="/students/send" method="post">
    <input type="text" name="text_number" placeholder="14155551212">
    <input type="submit" value="send text" class="btn btn-info">
    <!-- <button type="button" class="btn btn-warning">send</button> -->
    </form>
  </div>
  <div>
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
  </div>
  <div>&nbsp;</div>
  <div class="student-table">
    <table class="table" width="50%">
      <tr>
      <th>Name</th>
      <th>Password</th>
      </tr>
      <% @students.each do |student| %>
      <tr><td class="student" id="<%= student.id %>"><%= student.name %>

        <form id="delete-form" action="/students/<%= student.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <input type="submit" class="btn btn-default btn-xs" id="delete" value="delete student">
        </form>

    </td>
      <td><%= student.password %>
        <form action="/students/<%= student.id %>" method="get">
        <input type="submit" class="btn btn-default btn-xs" value="change password">
        </form>

      </td></tr>
      <% end %>
    </table>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<% else %>
  <h3>There are no students in the database.</h3>
<% end %>

